.App {
  text-align: center;
}

* {
  font-size: 1vw;
}

.wrapper {
  margin: 0 5%;
  height: 90vh;  
  overflow: scroll;
}
.wrapper.scroll {
  overflow-x: hidden; 
  overflow-x: auto; 
}

h1 {
    position: sticky;
    top: 0px;
    z-index: 10;
    padding-bottom: 1rem;
}

.pointer {
    cursor: pointer;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 10;
}

.thead__align {
  padding-right: 1rem!important;
  background: url('./assets/images/chevron2.svg') #272B30;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

.thead {
  background: #272B30;
}

 thead tr:nth-child(1) th{
/*    background: #272B30;*/
    position: sticky;
    z-index: 20;
    top: 3.7rem;
    padding: 0.6rem;
  }

thead::before{
  color: red;
}

.up {
  background-image: url('./assets/images/chevron-up.svg');  
  background-position: right;
  background-repeat: no-repeat;
}


.down {
  background-image: url('./assets/images/chevron-down.svg');
  background-position: right;
  background-repeat: no-repeat;
}

.col1 {
  width: 6vw;
}
.col2 {
  width: 9vw;
}
.col3 {
  width: 13vw;
}
.col4 {
  width: 15vw;
}
.col5 {
  width: 9vw;
}
.col6 {
  width: 11vw;
}
.col7 {
  width: 11vw;
}
.col8 {
  width: 11vw;
}
.col9 {
  width: 10vw;
}
